<div class="container">
    <div class="row">
    <% @posts.each do |f| %>
        <%= f.id %></br>
        body: <%= f.tag %> </br>
        article: <%= f.article %> </p>
    </div>
    <% end %>
</div>
